extends ../base
block contents
    form(method="post")
        input(type="text", placeholder="title", name="title")
        input(type="text", placeholder="summary" name="summary")
        input(type="submit", value="Upload")